:root {
    --bg-color: #fdfdfd;
    --text-color: #ffffff;
    --gold-color: #fae362;
}
body {
    box-sizing: border-box;
    margin:0; 
    padding:0; 
    background-color: var(--bg-color);
}

.body-interior {
    background-color: rgba(48, 47, 47, 0.7);
    width: 1020px;
    margin:  0 auto;
    height: auto;
    padding: 40px;
}

.my-data {
    border-bottom: 2px solid var(--gold-color);
}

.my-photo {
    background-image: url(./assets/resume.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.my-name,
.my-prof,
.skills,
.education {
    margin-top: 20px;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.my-prof,
.skills,
.education {
    margin: 10px 0 10px 0;
    font-size: 1.5rem;
}

.main {
    display: flex;
    flex-direction: column;
}

.skills-ed-wrapper {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 2px solid var(--gold-color);
}

.skill,
.education-info-un,
.education-info-spec,
.courses-school {
    font-size: 1.3rem;
    margin: 10px 0;
    text-transform: none;
    letter-spacing: .5px;
    font-weight: 400;
}

.courses {
    margin-top: 25px;
}

.education-info-un,
.education-info-spec,
.courses-school {
    margin-left: 25px;
}